.jc-header{
    height: 60px;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    top: 0;
}
.jc-container{
    position: absolute;
    left: 20px;
    top: 80px;
}